@import '~bootstrap/scss/bootstrap';

$body-color: #d3d3d3
$gray-border-color: #789
$green-color: #090
$red-color: #f00
$black-color: #000
$turquois-color: #0ff

body {
  background-color: $body-color;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 25px auto;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
}


.forms {
  border: 3px solid $gray-border-color;
  border-radius: 10px;
  margin: 75px auto;
  width: 50%;

  &.sign-up-form {
    border: 3px solid $gray-border-color;
    margin: 0 auto;
    width: 50%;
  }

  >.sign-in {
    border-top: 1px solid $gray-border-color;
    font-size: 20px;
    text-align: right;
  }

  &.sign-in-form {
    border: 3px solid $gray-border-color;
    margin: 0 auto;
    width: 50%;
  }
}

// .create-new-game {
//   float: left;
// }

// .dropdown {
//   float: left;
// }

.success {
  color: $green-color;
}

.failure {
  color: $red-color;
}

.container {
  margin-top: 10px;
  width: 600px;
}

.tic-tac-toe-board {
  height: 600px;
}

.col-4 {
  border: 1px solid $black-color;
  color: $black-color;
  font-size: 100px;
  font-weight: bold;
  height: 200px;
  margin: auto;
  text-align: center;

  &:hover {
    background-color: $turquois-color;
  }
}

.box-0 {
  border-left: transparent;
  border-top: transparent;
}

.box-1 {
  border-top: transparent;
}

.box-2 {
  border-right: transparent;
  border-top: transparent;
}

.box-3 {
  border-left: transparent;
}

.box-5 {
  border-right: transparent;
}

.box-6 {
  border-bottom: transparent;
  border-left: transparent;
}

.box-7 {
  border-bottom: transparent;
}

.box-8 {
  border-bottom: transparent;
  border-right: transparent;
}

ul {
  height: 600px;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  width: 635px;

  li {
    :hover {
      background-color: $turquois-color;
    }
  }
}
