@import '~bootstrap/scss/bootstrap';

$light-gray-color: #d3d3d3;
$form-boder-color: #789;
$success-color: #090;
$board-color: #000;
$board-piece-color: #000;
$failure-color: #f00;
$hover-color: #0ff;

body {
  background-color: $light-gray-color;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 25px;
  text-align: center;
}


.forms {
  border: 3px solid $form-boder-color;
  border-radius: 10px;
  margin: 75px auto;
  width: 50%;

  &.sign-up-form {
    border: 3px solid $form-boder-color;
    margin: 0 auto;
    width: 50%;
  }

  >.sign-in {
    border-top: 1px solid $form-boder-color;
    font-size: 20px;
    text-align: right;
  }

  &.sign-in-form {
    border: 3px solid $form-boder-color;
    margin: 0 auto;
    width: 50%;
  }
}

// .create-new-game {
//   float: left;
// }

.dropdown {
  float: right;
}

.success {
  color: $success-color;
}

.failure {
  color: $failure-color;
}

.container {
  margin-top: 10px;
  width: 600px;
}

.tic-tac-toe-board {
  height: 600px;
}

.col-4 {
  border: 1px solid $board-color;
  color: $board-piece-color;
  font-size: 100px;
  font-weight: bold;
  height: 200px;
  margin: auto;
  text-align: center;

  &:hover {
    background-color: $hover-color;
  }
}

.box-0 {
  border-left: transparent;
  border-top: transparent;
}

.box-1 {
  border-top: transparent;
}

.box-2 {
  border-right: transparent;
  border-top: transparent;
}

.box-3 {
  border-left: transparent;
}

.box-5 {
  border-right: transparent;
}

.box-6 {
  border-bottom: transparent;
  border-left: transparent;
}

.box-7 {
  border-bottom: transparent;
}

.box-8 {
  border-bottom: transparent;
  border-right: transparent;
}

ul {
  height: 600px;
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  width: 635px;

  li {
    :hover {
      background-color: $hover-color;
    }
  }
}
